language: minimal

services:
  - docker

before_install:
- docker pull uavcan/libuavcan:latest

install:
- "echo $TRAVIS_BUILD_DIR"

script:
- "docker run --rm -e TRAVIS_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER -e CODACY_PROJECT_TOKEN=$CODACY_PROJECT_TOKEN -v $TRAVIS_BUILD_DIR:/repo uavcan/libuavcan:latest /bin/sh -c ci.sh"
