---
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  portability-*,
  readability-*,
  -boost-use-ranges,
  -hicpp-function-size,
  -hicpp-no-array-decay,
  -google-readability-todo,
  -google-runtime-references,
  -google-readability-function-size,
  -readability-avoid-const-params-in-decls,
  -readability-magic-numbers,
  -readability-function-size,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -llvm-header-guard,
  -llvm-include-order,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -*-avoid-c-arrays,
  -*-no-malloc,
  -cert-msc30-c,
  -cert-msc50-cpp,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp'
FormatStyle: file
...
